@charset "utf-8";

.embed-responsive-custom{
	padding-bottom: 30%;
}

#home{
	padding: 17%;
	text-align: center;
	color: white;
	background-color: blue;
	background: url("../images/keyboard.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#about-us{
	padding: 7%;
	text-align: justify;
}

#about-us h1{
	text-align: center;
}

#our-services{
	padding: 7%;
	background-color: gray;
	text-align: center;
}

#our-services h1{
	text-align: center;
	color: white;
}

#our-services img{
	width: 90px;
	margin: auto;
}

#contact-us{
	padding: 10%;
	text-align: right;
	background: url("../images/gedung.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#contact-us	h1{
	text-align: center;
	color: black;
}

.footer{
	width: 100%;
	padding: 0px;
	margin-bottom: 0px;
}

#footer{
	color: white;
	background-color: black;
	margin-bottom: 0px;
}